/* CSS for all h1 */
p{
    color: rgb(57, 153, 212);
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
}

/*entire body*/
body{
    background-image: url("assets//Home\ page\ bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*header{
    display: table;
    width: 100%;
    border: 1px solid green;
}

.home-title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    height: 250px;
    width: 80vw;
    font-size:500%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin-right: -30px;
    border: 1px solid blue;
}
.github{
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid red;
    text-decoration: none;
}*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.home-title {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    height: 100px;
    width: 80vw;
    font-size: 500%;
    text-align: center;
    position: relative;
    margin-right: -30px;
}

.github {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-100%);
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


button{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    border-radius: 8px;
}


.box{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: 45vh;
    width: 100%;
}

.study-room{
    text-align: center;
    font-weight: bold;
}
.hiragana-link{
    text-align: center;
    font-weight: bold;
}
.katakana-link{
    text-align: center;
    font-weight: bold;
}


.hiragana-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}
.katakana-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}
.study-room-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}


footer{
    background-color: #282828;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.author{
    color: rgb(57, 153, 212);
    font-size: small;
    font-family: sans-serif;
    text-align: center;
}