/* CSS for all h1 */
p{
    color: rgb(57, 153, 212);
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
}

/*entire body*/
body{
    background-image: url("/assets//Home\ page\ bg.jpg");
}
header{
    display: table;
    width: 100%;
}

.home-title{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    height: 250px;
    font-size:500%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.github{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    right: 50px;
}

button{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    border-radius: 8px;
}


.box{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    height: 45vh;
    width: 95vw;
}

.study-room{
    text-align: center;
    font-weight: bold;
}
.hiragana-link{
    text-align: center;
    font-weight: bold;
}
.katakana-link{
    text-align: center;
    font-weight: bold;
}


.hiragana-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}
.katakana-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}
.study-room-jp{
    font-weight: normal;
    color: white;
    font-size: x-large;
}