/* general CSS*/
body{
    margin: 0;
    padding: 0;
    background-image: url("assets/Home\ page\ bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: space-around;
}
p{
    color: rgb(57, 153, 212);
    font-family: sans-serif;
    text-align: center;
    font-size: xx-large;
}
button{
    display: flex;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    border-radius: 8px;
}










/* header */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home-title {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 500%;
}
header > a{
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 100px;
}





/* box div */
.box{
    display: flex;
    height: calc(85% - (header height + footer height));
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-around;
}.study-room-jp, .hiragana-jp, .katakana-jp{
    color: white;
    font-weight: normal;
    display: flex;
    justify-content: center;
}
.study-room, .hiragana-link, .katakana-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}







/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}
footer > p{
    font-size: small;
}